* {
    margin: 0;
    padding: 0;
}

body   {
    background-color: #FDEBD0;
}




.contenedor-header {
    background-color: #FDEBD0;
}

.contenedor-redes-direccion {
    width: 100%;
    display: flex;
    background-color: #f1948a;
}

.contenedor-redes {
    width: 30%;
    /* background-color:#FFF0F5 */;
    font-size:xx-large;
    /* border: 1px solid red; */
    text-align: left;
    padding:10px 50px;
}

.name_redes {
    color: #fff;
    margin-left: 15px;
    font-size: 24px;   
}

.name_horario {
    color:white;
    font-size: 22px;
}

i {
    color: rgb(231, 33, 33);
}

.contenedor-direccion {
    width: 30%;
    /* border: 1px solid purple; */
    font-size:xx-large;
    text-align: left;
    padding: 5px 10px;
}

.contenedor-horario {
    width: 30%;
    font-size:xx-large;
    text-align: right;
}


.contenedor-nombempresa {
    font-size: 50px;
    text-align: center;
    font-family: "Parisienne";
    font-weight: 700;
    font-style: normal;
    color: #020202;
}

.contenedor-logo {
    /* border: 1px solid red; */
    text-align: center;
  
}

.contenedor-slogan{
    text-align: center;
    font-size: 32px;
    color: #000000;
    font-weight: 700;
}

.contenedor_centro_logo {
   /*  border: 1px solid red; */
}

.navegacion {
    text-align: center;
    /* border: 1px solid green; */

}

.contenedor-botones {
    /* border: 2px solid black; */
    display: inline-flex;
    font-size:25px;
    font-weight: bolder;
    gap: 80px;
    background-color: #FDEBD0;
   

}

.contenedor-boton {
    border: 5px solid #f1948a;
    list-style: none;
    padding: 5px 5px;
    background-color: #f1948a;
    border-radius: 10px;

}

.contenedor-boton a{
    text-decoration: none;
  }

a:visited, a:active {
    color:#fff;
}

.contenedor-boton a:hover{
    color:#f1948a;
  } 

 
.contenedor-boton:hover {
   background-color: #fff;
}  


.Portada {
    /* border: 1px solid red; */
    width: 100% ;
    height: 700px;
    /* opacity: 0.8; */
    /* border: 1px solid red; */
}


.slogan_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    text-align: center;
    vertical-align: center;
    /* border: 1px solid purple; */
    /* añadido por sara */
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
    font-optical-sizing: auto;
    font-style: normal;
} 

.contenedor-productos {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}



.contenedor-fila1 {
    /* border: 1px solid blue; */
    display: flex;
    padding: 10px;
    gap: 30px ;
    ;
}

.producto img {
    height: 600PX;
    width: 420px;
}

.producto {
    /* border: 1px solid red; */
    height: 600px;
    width: 420px;
    position: relative;
}

.texto-producto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: center;
    font-family: "Amaranth", sans-serif;
    color: white;
    font-size: 55px;
    
}

.producto:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
    
}

.texto-producto:hover {
    transition: color 0.5s ease;
    color: #FDEBD0;
}


.contenedor-footer {
    background-color: #f1948a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    height: 200px;
    font-size: 22px;
}

.column {
    width: 30%;
}

a{
    text-decoration: none;
    color: inherit;
}

.politica a:visited, a:active {
    color:#000000;
}